body{
    background:url("tlo.png");
}
#container{
    width:100%;
    height:100%;
}
#logo{
    text-align:center;
    width:100%;
    background-color:chocolate;
    color:white;
    font-family: 'Noto Serif', serif;
    margin-top:-10px;
    text-shadow: 2px 2px 0px #33402a, -2px 2px 0px #33402a, -2px -2px 0px #33402a,
    2px -2px 0px #33402a;
}
#Spis_tresci{
    width:100%;
    background-color:darkcyan;
    margin-top:-10px;
    

}
#O_mnie{
    width:100%;
    background-color:blanchedalmond;
    margin-top:-10px;
}
ol>li{
    font-size:24px;
    font-family:'Noto Serif', serif;
    font-weight:700;
}

ol>li>ul.Unorderedlist1>li{ 
    font-size:16px;
    font-family:'Noto Serif', serif;
    font-weight:400;

   }
.Unorderedlist1{
    list-style-type:square;
}
h1{
    text-align:center;
    font-family:'Noto Serif', serif;
    font-weight:700px;

}
h2{
    margin-top:-10px;
    text-align:center;
    font-family:'Noto Serif', serif;
    font-weight:700px;
}
p{
    margin-top:-10px;
    font-family:'Noto Serif', serif;
    font-weight:400px;
}
#O_szachach{
    width:100%;
    background-color:darkgreen;
    color:white;
}
ul.Unorderedlist2{
    
    margin-top:-5px;
    font-size:16px;
    list-style-type:square;
}
#footer{
    width:100%;
    background-color:darkgray;
    color:white;
    padding:20px;
    margin-top:-15px;

}
a:link{
    color:white;
    text-decoration:none;
}
a:visited{
    color:white;
    text-decoration:none;
}
a:hover{
    color:white;
    text-decoration:none;
}
a:active{
    color:purple;
    text-decoration:none;
}